html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff8d4;
}
body {
  height: 95vh;
}
.root1 {
  margin-left: 10%;
  margin-right: 10%;
}
.homeImage {
  width: 400px;
  height: 400px;
}
.navBar {
  background-color: #887bb0;
  color: rgb(0, 0, 0);
  font-family: Verdana, sans-serif;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 74.75px;
  right: 0px;
}
.navBar > * {
  padding: 12px;
  color: white;
  float: left;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 22.5px;
  list-style-type: none;
  cursor: pointer;
}
li > a {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "M PLUS 1 Code", sans-serif;
  font-weight: 800;
  list-style-type: none;
  text-decoration-line: none;
  text-align: center;
}
.navImage {
  width: 50px;
  padding-left: 20px;
}
.logoutStatus {
  float: right;
  cursor: auto;
}
.logoutButton {
  float: right;
  background-color: rgb(218, 134, 173);
  border-radius: 1%;
  color: white;
  margin: 8px 8px;
  border: none;
  cursor: pointer;
  width: 100px;
  text-align: center;
  margin-right: 16px;
}
.mainContainer {
  display: flex;
  gap: 50px;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.inputField {
  margin: auto;
  margin-top: 10%;
  width: 70%;
  border: 1px solid #887bb0;
  border-radius: 3px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.582);
}

.statusBoard {
  display: flex;
  justify-content: space-between;
}
.feed {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.card {
  margin: auto;
  border: 1px solid #887bb0;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.582);
  margin: 3%;
  border-radius: 3px;
}
.statusImage {
  width: 100%;
}
.add {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
}
#status {
  width: 50%;
  border-radius: 7px;
}
#submitButton {
  width: 25%;
}
.add2 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.commentCard {
  margin: auto;
  border: 1px solid #887bb0;
  border-radius: 10px;
  padding: 5px;

  margin: 10px;
}
.socialButton {
  font-size: 10px;
  background-color: #887bb0; /* Green */
  border: none;
  color: white;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.socials {
  display: flex;
  justify-content: flex-start;
  width: 200px;
  height: 40px;
}

.uploadButton {
  width: 600px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Pushster", cursive;
}
/* login page styling */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #887bb0;
  box-sizing: border-box;
}

button {
  background-color: #887bb0;
  border-radius: 1%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
  min-width: 220px;
  max-width: 400px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

@media only screen and (max-width: 810px) {
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .mainContainer {
    flex-direction: column;
  }
  .homeImage {
    width: 300px;
    height: 300px;
  }
  #input {
    margin-top: 23%;
  }
  .add {
    flex-direction: column;
  }
  #status {
    width: 100%;
  }
  #submitButton {
    width: 36%;
  }
  .socials {
    flex-direction: column;
  }
  p {
    word-wrap: break-word;
  }
  .uploadButton {
    width: 100%;
  }
  .inputField2 {
    margin: 10px;
  }
  .statusBoard {
    flex-direction: column;
  }
  .socials {
    flex-direction: row;
    width: 100%;
    gap: 5px;
    justify-content: center;
  }
  .socialButton {
    max-width: 70px;
  }
  .feed {
    width: 95%;
    padding: 1%;
  }
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navBar > * {
    float: none;
  }
  .logoutButton {
    float: none;
  }
  .logoutStatus {
    float: none;
  }
  .navBar {
    height: auto;
  }

  .navBar {
    position: relative;
    width: auto;
    padding: 0;
  }
  .logoutStatus {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
